<html>
<head>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

</head>
<body>
<div class="container">
<form method="post" action="blog">
<div class="form-group">
  <label for="comment">Post Your blog:</label>
  <textarea class="form-control" rows="5" name="blogContent"></textarea>
  <button type="submit" class="btn btn-primary">Create</button>
</div>
</form>
</div>
</body>
</html>
